<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT23</title>

</head>
<body>
    
<h1>Contact US</h1>

<form action="/create" method="post" class="p-10 background-gray-500">

<input type="text" name="username" placeholder="username" class="px-5 py-2 border-lg text-white background-transparent">
<input type="email" name="email" placeholder="email" class="px-5 py-2 border-lg text-white background-transparent">
<input type="password" name="password" placeholder="password" class="px-5 py-2 border-lg text-white background-transparent">

<button  >Submitt</button>




</form>

</body>
</html>